* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, sans-serif;
}

section {
  margin-top: 50px;
}
#logo img {
  margin: 20px;
}
header {
  width: 100%;
  top: 0;
  position: sticky;
  z-index: +1;
}
#social-tools {
  background-color: black;

  color: white;
  height: 40px;
}
/* #social-tools #navbarSupportedContent {
  margin-right: 100px;
} */
#social-tools div:nth-child(2) {
  position: absolute;
  left: 300px;
  margin-top: 10px;
}
.icons {
  margin-left: 20px;
}
.navbar-light .navbar-nav .nav-link {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: bold;
}

.facility {
  height: 40px;
  text-align: center;
  padding: 5px;
  color: white;
  font-weight: bolder;
  width: auto;
  border-radius: 20px;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.facility-para {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
}
#solutions:hover #solutions-para {
  z-index: +2;
}

#solutions-para {
  position: absolute;

  background-color: white;

  width: 100%;
}
.card {
  max-width: 350px;
  margin: auto;
  height: 500px;
}

#our-products .card img {
  height: 50%;
}
.card-header {
  text-align: center;
}
#speciality .card {
  border: none;
  height: 300px;
  background-color: inherit;
}

#speciality img {
  margin: auto;
  height: 100px;
  width: 100px;
  border-radius: 50%;

  box-shadow: 10px 10px 10px rgb(192, 188, 188);
}
#carouselExampleIndicators2 img {
  height: 100px;
  width: 150px;
  margin: 0 40px;
}
/*slideshow containers*/

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  height: 500px;
  position: relative;
  margin: auto;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
.mySlides {
  display: none;
  position: relative;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}
.image-container img {
}

/* Fading animation */

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
/* .fa {
  padding: 5px;
  font-size: 10px;
  width: 5px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
} */

footer {
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.809);
  height: max-content;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 15px;
}
footer li a {
  color: white;
}
footer li a:hover {
  color: white;
}
a:hover {
  animation: borderanimation;
}
@keyframes borderanimation {
  from {
    border-bottom: 1% blue;
  }
  to {
    border-bottom: 100% blue;
  }
}
@media screen and (max-width: 600px) {
  .card {
    max-width: 90%;
  }
}
